@mixin ma-margin-top-size-lg {
    margin-top: 76px;
}

@mixin ma-margin-top-size-md {
    margin-top: 120px;
}

@mixin ma-margin-top-size-xs {
    margin-top: 78.5px;
}

.ma-cj {
    justify-content: center;
}

.ma-go-down {
    justify-content: center;
}

@media screen and (min-width:392px) {
    .ma-go-down {
        @include ma-margin-top-size-lg;
    }

    .list-go-down {
        margin-top: 61px;
    }
}

@media screen and (max-width: 834px) and (min-width:391px) {
    .ma-go-down {
        @include ma-margin-top-size-md;
    }

    .list-go-down {
        margin-top: 84px;
    }
}

@media screen and (max-width: 390px) {
    .ma-go-down {
        @include ma-margin-top-size-xs;
    }

    .list-go-down {
        margin-top: 83px;
    }
}