@mixin t-margin-left-size-md {
    margin-left: 88px;
}

@mixin t-margin-left-size-xs {
    margin-left: 70px;
}

@mixin t-line-common {
    font-weight: 700;
    text-align: center;
}

.t-jpc {
    justify-content: center;
}

@media screen and (min-width:392px) {
    .t-line-1 {
        @include t-line-common;
        font-size: 64px;
        line-height: 78px;
    }
    .t-line-2 {
        @include t-line-common;
        font-size: 64px;
        line-height: 78px;
    }
    .t-special-c-left {
        margin-left: 18px;
    }
}

@media screen and (max-width: 834px) and (min-width:391px) {
    .t-jpl {
        @include t-margin-left-size-md;
    }
    .t-line-1 {
        @include t-line-common;
        font-size: 64px;
        line-height: 78px;
    }
    .t-line-2 {
        @include t-line-common;
        font-size: 64px;
        line-height: 78px;
    }
    .t-special-c-left {
        margin-left: 18px;
    }
}

@media screen and (max-width: 390px) {
    .t-line-1 {
        @include t-line-common;
        font-size: 40px;
        line-height: 49px;
    }
    .t-line-2 {
        @include t-line-common;
        font-size: 40px;
        line-height: 49px;
    }
    .t-jpl {
        @include t-margin-left-size-xs;
    }
    .t-special-c-left {
        margin-left: 10px;
    }
}