@mixin button-bottom-md {
    margin-bottom: 71px;
}

@mixin button-bottom-xs {
    margin-bottom: 46px;
}

.a-img {
    opacity: 0.8;
    border-radius: 12px;
    margin: 24px;
    width: 272px;
    height: 241px;
}

.a-jc {
    justify-content: center;
}

.a-title {
    width: 258px;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 24px;
    margin-top: 24px;
}

.a-sub-title {
    width: 225px;
    height: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 36px;
}

.a-button {
    justify-content: center;
    align-items: center;
    gap: 42px;
    height: 44px;
    border-radius: 24px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 71px;
    border: none;
}

.a-button-size-g {
    width: 154px;
}

.a-button-size-r {
    width: 184px;
}

@media screen and (max-width: 834px) and (min-width:391px) {
    .a-button {
        @include button-bottom-md;
    }
}

@media screen and (max-width: 390px) {
    .a-title {
        width: 258px;
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        margin-bottom: 24px;
    }

    .a-button {
        @include button-bottom-xs;
    }
}