ul {
    list-style: none;
}

.header {
    justify-content: center;
}

.headerlink {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.green-letters {
    color: green;
}

.white-letters {
    color: white;
}

.lines {
    border: 1px solid  white;
    transform: rotate(90deg);
    display: inline;
}