@mixin st-margin-left-size-md {
    margin-left: 88px;
}

@mixin st-margin-left-size-xs {
    margin-left: 70px;
}

@mixin st-margin-top-msg-2-size-l-lg {
    margin-top: 36px;
}

@mixin st-margin-top-msg-2-size-l-xs {
    margin-top: 38px;
}

.st-jpc {
    margin-top: 24px;
    justify-content: center;
}

.st-msg{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.st-special-c-left {
    width: 347px;
    text-align: left;
}

.st-special-c-center {
    width: 457px;
    text-align: center;
}

@media screen and (min-width:392px) {
    .st-jpl {
        @include st-margin-top-msg-2-size-l-lg;
    }
}

@media screen and (max-width: 834px) and (min-width:391px) {
    .st-jpl {
        @include st-margin-left-size-md;
        @include st-margin-top-msg-2-size-l-lg;
    }
}

@media screen and (max-width: 390px) {
    .st-jpl {
        @include st-margin-left-size-xs;
        @include st-margin-top-msg-2-size-l-xs;
    }

    .st-special-c-left {
        width: 332px;
        text-align: left;
    }
    
    .st-special-c-center {
        width: 329px;
        text-align: justify;
    }
}