@mixin h-margin-left-size-md {
    margin-left: 88px;
}

@mixin h-margin-left-size-xs {
    margin-left: 70px;
}

@mixin h-margin-top-size-lg {
    margin-top: 179.5px;
}

@mixin h-margin-top-size-md {
    margin-top: 134.5px;
}

@mixin h-margin-top-size-xs {
    margin-top: 93.5px;
}

@mixin h-img-size-lg {
    width: 464px;
    height: 464.5px;
}

@mixin h-img-size-md {
    width: 318px;
    height: 318px;
}

@mixin h-img-size-xs {
    width: 222px;
    height: 222px;
}

.arrow {
    height: 20px;
    width: 30px;
    margin-left: 28px;
}

.vector {
    margin-left: 186px;
    @include h-margin-top-size-lg;
    @include h-img-size-lg;
}

.h-margin-top-button-size {
    margin-top: 108px;
}

.h-button-log-in {
    background: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    border: none;
}

@media screen and (min-width:392px) {
    .h-go-down {
        @include h-margin-top-size-lg;
    }
}

@media screen and (max-width: 834px) and (min-width:391px) {
    .vector {
        @include h-margin-left-size-md;
        @include h-margin-top-size-md;
        @include h-img-size-md;
    }

    .h-go-down {
        margin-top: 74px;
    }

    .h-margin-top-button-size {
        @include h-margin-left-size-md;
    }
}

@media screen and (max-width: 390px) {
    .vector {
        @include h-margin-left-size-xs;
        @include h-margin-top-size-xs;
        @include h-img-size-xs;
    }

    .h-go-down {
        margin-top: 27px;
    }

    .h-margin-top-button-size {
        @include h-margin-left-size-xs;
        margin-top: 40px;
    }
}