@import './assets/styles/colors.scss';
@import './assets/styles/colors-to-use.scss';

body{
    background: black;
}

body {
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    background-color: $color-black;
  }