.color-black {
    color: $color-black;
}

.color-white {
    color: $color-white;
}

.color-green-light {
    color: $color-green-light;
}

.color-green-light-bg {
    background: $color-green-light;
}

.color-red-bg {
    background: $color-red;
}