@mixin s-margin-top-size-lg {
    margin-top: 76px;
}

@mixin s-margin-top-size-md {
    margin-top: 120px;
}

@mixin s-margin-top-size-xs {
    margin-top: 78.5px;
}

.s-go-down {
    justify-content: center;
}

@media screen and (min-width:392px) {
    .s-go-down {
        @include s-margin-top-size-lg;
    }
}

@media screen and (max-width: 834px) and (min-width:391px) {
    .s-go-down {
        @include s-margin-top-size-md;
    }
}

@media screen and (max-width: 390px) {
    .s-go-down {
        @include s-margin-top-size-xs;
    }
}